backports.ssl-match-hostname==3.4.0.2
BeautifulSoup==3.2.1
beckett==0.4.0
bibtexparser==0.6.0
brewer2mpl==1.3.2
chardet==2.3.0
click==5.1
colorama==0.2.7
cssselect==0.9.1
cvxopt==1.1.7
Cython==0.21.1
dnspython==1.11.1
dnsq==1.1.3
et-xmlfile==1.0.1
expiringdict==1.1.3
flanker==0.4.21
Flask==0.10.1
Flask-GoogleMaps==0.2.2
Flask-Login==0.3.2
Flask-MongoAlchemy==0.7.2
frida==1.0.6
future==0.15.2
geopy==1.11.0
gmm==0.1
gpsoauth==0.3.0
gscholar==1.3.0
h5py==2.3.1
ImageHash==0.3
inflect==0.2.5
itsdangerous==0.24
jdcal==1.0.1
Jinja2==2.7.3
lxml==2.3.6
MarkupSafe==0.23
matplotlib==1.4.3
mercurial==3.6.3
mock==1.0.1
MongoAlchemy==0.19
nose==1.3.7
numpy==1.10.1
openpyxl==2.3.0
pandas==0.16.0
panns==0.1.7
patsy==0.2.1
pick==0.6.0
PIL==1.1.7
Pillow==2.3.0
plotly==1.6.13
prettyplotlib==0.1.5
protobuf==2.6.1
protobuf-to-dict==0.1.0
PyBrain==0.3.1
pycryptodomex==3.4.2
pycurl==7.19.5.3
pyFASST==0.9.3
pyflann==1.6.11
pygame==1.9.2a0
pykemon==0.2.0
pymindwave==0.0.0
pymongo==2.8.1
pyparsing==2.0.3
pypng==0.0.16
pypuzzle==1.1
pyquery==1.2.9
pyserial==2.7
pyspider==0.3.6
python-dateutil==2.4.1
pytz==2015.2
readability-lxml==0.3.0.5
redis==2.10.3
regex==2014.10.24
requests==2.10.0
s2sphere==0.2.4
scikit-learn==0.14.1
scipy==0.14.0
seaborn==0.5.1
Sift==0.1.0
simplejson==3.3.1
six==1.10.0
tornado==3.2
u-msgpack-python==2.1
ujson==1.35
unicodecsv==0.14.1
vboxapi==1.0
virtualenv==12.0.5
vlfeat-ctypes==0.1.4
web.py==0.37
WebOb==1.4
Werkzeug==0.11.2
WsgiDAV==1.2.0
